<div class="container">
  <h1>Productos</h1>
  <ul class="card-container">
    {{#each products}}
      <li class="card">
        <div class="card-content">
          <div>
            <h5 class="card-title">{{this.nombre}}</h5>
            <p class="card-text">Precio: ${{this.precio}}</p>
            {{#if this.stock}}
              <p class="card-text">Stock: {{this.stock}}</p>
            {{else}}
              <p class="card-text sin-stock">Sin Stock</p>
            {{/if}}
            <span class="card-badge">{{this.categoria}}</span>
          </div>
          <img src="{{this.imagen}}" alt="{{this.nombre}}">
        </div>
        {{!-- <a href="/products/{{this._id}}">Ver detalle</a> --}}
         <div class="card-actions" style="margin-top:8px; display:flex; gap:8px; align-items:center;">
          <input type="number" class="qty-input" min="1" value="1" style="width:70px;">
          <button class="btn-add" data-pid="{{this._id}}">Agregar al carrito</button>
          <a href="/products/{{this._id}}">Ver detalle</a>
        </div>
      </li>
    {{/each}}
  </ul>

  <div class="pagination">
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}">Anterior</a>
    {{/if}}
    <span>Página {{page}} de {{totalPages}}</span>
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
  </div>
</div>

<script src="/js/addToCartList.js"></script>